In [9]:
import pandas as pd
import numpy as np
from yahoo_fin.stock_info import get_data
import statsmodels.formula.api as smf
from pypfopt.efficient_frontier import EfficientFrontier
import datetime
import requests 
from bs4 import BeautifulSoup
from scrapy import Selector
import json
import time

In [10]:
START = TRAIN_START = datetime.datetime(2017,1,1)
TEST_START = datetime.datetime(2020,1,5)
END = datetime.datetime(2020,12,31)

In [11]:
CC100_Index = pd.read_csv("indexReturns-BITW100.csv")
CC100_Index['date'] = pd.to_datetime(CC100_Index['date']).dt.tz_localize(None)
CC100_Index = CC100_Index.sort_values('date').set_index('date')
CC100_Index = CC100_Index.truncate(before = START,after = END)
CC100_Index = CC100_Index.resample('W').last()[:-1]
CC100_Return = np.log(CC100_Index/ CC100_Index.shift(1)).fillna(axis = 0, method ='bfill').rename(columns = {"MarketIndex":"MarketReturn"})
CC100 = pd.concat([CC100_Index, CC100_Return],axis =1)

In [12]:
CC100

            MarketIndex  MarketReturn
date
2017-01-01       964.00     -0.043505
2017-01-08       922.96     -0.043505
2017-01-15       841.40     -0.092519
2017-01-22       943.22      0.114232
2017-01-29       942.09     -0.001199
...                 ...           ...
2020-11-29     18386.98     -0.001030
2020-12-06     19257.57      0.046261
2020-12-13     19002.90     -0.013313
2020-12-20     23199.63      0.199545
2020-12-27     23984.01      0.033251

[209 rows x 2 columns]

In [13]:
CC_string = "ADA,ADX,AE,ANT,ARDR,ARK,BAT,BCH,BCN,BNB,BNT,BTC,BTG,BTS,CVC,DASH,DCR,DGB,DGD,DNT,DOGE,EDG,EOS,ETC,ETH,FUN,GAS,GBYTE,GNO,HC,ICX,KIN,KMD,KNC,LINK,LRC,LSK,LTC,MAID,MCO,MIOTA,MLN,MONA,MTL,NANO,NEO,NXS,OMG,PIVX,PPT,QRL,QTUM,REP,RLC,SALT,SC,SNT,STEEM,STORJ,SYS,TRX,VERI,WAVES,WTC,XEM,XLM,XMR,XRP,XVG,ZEC,ZEN,ZRX"
CC_temp_list = CC_string.split(",")
CC_list = [i+'-USD' for i in CC_temp_list]

# Fetch and save data of all 72 CC from yahoo finance

In [ ]:
data_all = pd.DataFrame()
for i in CC_list:
    print(i)
    data = get_data(i,start_date = START,end_date = END).resample('W').last()[:-1]
    data_all = pd.concat([data_all,data])
data_all.index.names = ['date']
data_all.to_csv('CC_weekly_data.csv')

In [14]:
data_all = pd.DataFrame()
for i in CC_list:
    print(i)
    data = get_data(i,start_date = START,end_date = END)[:-1]
    data_all = pd.concat([data_all,data])
data_all.index.names = ['date']
data_all.to_csv('CC_daily_data.csv')

ADA-USD
ADX-USD
AE-USD
ANT-USD
ARDR-USD
ARK-USD
BAT-USD
BCH-USD
BCN-USD
BNB-USD
BNT-USD
BTC-USD
BTG-USD
BTS-USD
CVC-USD
DASH-USD
DCR-USD
DGB-USD
DGD-USD
DNT-USD
DOGE-USD
EDG-USD
EOS-USD
ETC-USD
ETH-USD
FUN-USD
GAS-USD
GBYTE-USD
GNO-USD
HC-USD
ICX-USD
KIN-USD
KMD-USD
KNC-USD
LINK-USD
LRC-USD
LSK-USD
LTC-USD
MAID-USD
MCO-USD
MIOTA-USD
MLN-USD
MONA-USD
MTL-USD
NANO-USD
NEO-USD
NXS-USD
OMG-USD
PIVX-USD
PPT-USD
QRL-USD
QTUM-USD
REP-USD
RLC-USD
SALT-USD
SC-USD
SNT-USD
STEEM-USD
STORJ-USD
SYS-USD
TRX-USD
VERI-USD
WAVES-USD
WTC-USD
XEM-USD
XLM-USD
XMR-USD
XRP-USD
XVG-USD
ZEC-USD
ZEN-USD
ZRX-USD

# Read data of all 72 CC

In [15]:
data_copy = pd.read_csv('CC_daily_data.csv')
data_copy['ticker'] = data_copy['ticker'].str.replace('-USD',' ')
data_copy = data_copy.copy().reset_index().set_index(['ticker','date'])

In [16]:
data_copy

                   index      open      high       low     close  adjclose  \
ticker date
ADA    2017-09-30      0  0.021678  0.032226  0.017354  0.024969  0.024969
       2017-10-01      1  0.024607  0.030088  0.019969  0.025932  0.025932
       2017-10-02      2  0.025757  0.027425  0.020690  0.020816  0.020816
       2017-10-03      3  0.020864  0.022806  0.020864  0.021931  0.021931
       2017-10-04      4  0.021951  0.022154  0.020859  0.021489  0.021489
...                  ...       ...       ...       ...       ...       ...
ZRX    2020-12-26  97396  0.358214  0.366815  0.350426  0.354228  0.354228
       2020-12-27  97397  0.354252  0.424531  0.354252  0.373358  0.373358
       2020-12-28  97398  0.373753  0.394154  0.370035  0.376743  0.376743
       2020-12-29  97399  0.376773  0.383101  0.349014  0.365462  0.365462
       2020-12-30  97400  0.365471  0.369798  0.349509  0.359764  0.359764

                        volume
ticker date
ADA    2017-09-30   50068700.0
       2017-10-01   57641300.0
       2017-10-02   16997800.0
       2017-10-03    9000050.0
       2017-10-04    5562510.0
...                        ...
ZRX    2020-12-26   43885187.0
       2020-12-27  142214520.0
       2020-12-28   59466214.0
       2020-12-29   54115513.0
       2020-12-30   39904606.0

[97401 rows x 7 columns]

# Save weekly top 10 market cap CC

In [13]:
def top10_Market(date):
    date = date.replace('-', '')
    url = 'https://coinmarketcap.com/historical/' + date
    cmc = requests.get(url)
    soup = BeautifulSoup(cmc.content, 'html.parser')
    data = soup.find('script', id='__NEXT_DATA__',type='application/json')
    coin_data = json.loads(data.contents[0])
    listings = coin_data['props']['initialState']['cryptocurrency']['listingHistorical']['data']
    df = pd.DataFrame(listings)
    df = df[['symbol']]
    CC_string = "ADA,ADX,AE,ANT,ARDR,ARK,BAT,BCH,BCN,BNB,BNT,BTC,BTG,BTS,CVC,DASH,DCR,DGB,DGD,DNT,DOGE,EDG,EOS,ETC,ETH,FUN,GAS,GBYTE,GNO,HC,ICX,KIN,KMD,KNC,LINK,LRC,LSK,LTC,MAID,MCO,MIOTA,MLN,MONA,MTL,NANO,NEO,NXS,OMG,PIVX,PPT,QRL,QTUM,REP,RLC,SALT,SC,SNT,STEEM,STORJ,SYS,TRX,VERI,WAVES,WTC,XEM,XLM,XMR,XRP,XVG,ZEC,ZEN,ZRX"
    CC_temp_list = CC_string.split(",")
    df = df[df['symbol'].isin(CC_temp_list)] 
    return df['symbol']

In [25]:
price_top10_Market = pd.DataFrame(columns = ['Date', 'top10_Market'])

i = 1

for date in CC100.index:
    print(date)
    date = str(date).split(' ')[0]
#     print(top10_Market(date))
    CC_list_temp = top10_Market(date).iloc[:10]
    Append = {'Date': date, 'top10_Market' : CC_list_temp.tolist()}
    price_top10_Market = price_top10_Market.append(Append, ignore_index=True)

    i = i+1
    if i == 5:
        i = 0
        time.sleep(120)

2018-01-07 00:00:00
2018-01-14 00:00:00
2018-01-21 00:00:00
2018-01-28 00:00:00
2018-02-04 00:00:00
2018-02-11 00:00:00
2018-02-18 00:00:00
2018-02-25 00:00:00
2018-03-04 00:00:00
2018-03-11 00:00:00
2018-03-18 00:00:00
2018-03-25 00:00:00
2018-04-01 00:00:00
2018-04-08 00:00:00
2018-04-15 00:00:00
2018-04-22 00:00:00
2018-04-29 00:00:00
2018-05-06 00:00:00
2018-05-13 00:00:00
2018-05-20 00:00:00
2018-05-27 00:00:00
2018-06-03 00:00:00
2018-06-10 00:00:00
2018-06-17 00:00:00
2018-06-24 00:00:00
2018-07-01 00:00:00
2018-07-08 00:00:00
2018-07-15 00:00:00
2018-07-22 00:00:00
2018-07-29 00:00:00
2018-08-05 00:00:00
2018-08-12 00:00:00
2018-08-19 00:00:00
2018-08-26 00:00:00
2018-09-02 00:00:00
2018-09-09 00:00:00
2018-09-16 00:00:00
2018-09-23 00:00:00
2018-09-30 00:00:00
2018-10-07 00:00:00
2018-10-14 00:00:00
2018-10-21 00:00:00
2018-10-28 00:00:00
2018-11-04 00:00:00
2018-11-11 00:00:00
2018-11-18 00:00:00
2018-11-25 00:00:00
2018-12-02 00:00:00
2018-12-09 00:00:00
2018-12-16 00:00:00
2018-12-23 00:00:00
2018-12-30 00:00:00
2019-01-06 00:00:00
2019-01-13 00:00:00
2019-01-20 00:00:00
2019-01-27 00:00:00
2019-02-03 00:00:00
2019-02-10 00:00:00
2019-02-17 00:00:00
2019-02-24 00:00:00
2019-03-03 00:00:00
2019-03-10 00:00:00
2019-03-17 00:00:00
2019-03-24 00:00:00
2019-03-31 00:00:00
2019-04-07 00:00:00
2019-04-14 00:00:00
2019-04-21 00:00:00
2019-04-28 00:00:00
2019-05-05 00:00:00
2019-05-12 00:00:00
2019-05-19 00:00:00
2019-05-26 00:00:00
2019-06-02 00:00:00
2019-06-09 00:00:00
2019-06-16 00:00:00
2019-06-23 00:00:00
2019-06-30 00:00:00
2019-07-07 00:00:00
2019-07-14 00:00:00
2019-07-21 00:00:00
2019-07-28 00:00:00
2019-08-04 00:00:00
2019-08-11 00:00:00
2019-08-18 00:00:00
2019-08-25 00:00:00
2019-09-01 00:00:00
2019-09-08 00:00:00
2019-09-15 00:00:00
2019-09-22 00:00:00
2019-09-29 00:00:00
2019-10-06 00:00:00
2019-10-13 00:00:00
2019-10-20 00:00:00
2019-10-27 00:00:00
2019-11-03 00:00:00
2019-11-10 00:00:00
2019-11-17 00:00:00
2019-11-24 00:00:00
2019-12-01 00:00:00
2019-12-08 00:00:00
2019-12-15 00:00:00
2019-12-22 00:00:00
2019-12-29 00:00:00
2020-01-05 00:00:00
2020-01-12 00:00:00
2020-01-19 00:00:00
2020-01-26 00:00:00
2020-02-02 00:00:00
2020-02-09 00:00:00
2020-02-16 00:00:00
2020-02-23 00:00:00
2020-03-01 00:00:00
2020-03-08 00:00:00
2020-03-15 00:00:00
2020-03-22 00:00:00
2020-03-29 00:00:00
2020-04-05 00:00:00
2020-04-12 00:00:00
2020-04-19 00:00:00
2020-04-26 00:00:00
2020-05-03 00:00:00
2020-05-10 00:00:00
2020-05-17 00:00:00
2020-05-24 00:00:00
2020-05-31 00:00:00
2020-06-07 00:00:00
2020-06-14 00:00:00
2020-06-21 00:00:00
2020-06-28 00:00:00
2020-07-05 00:00:00
2020-07-12 00:00:00
2020-07-19 00:00:00
2020-07-26 00:00:00
2020-08-02 00:00:00
2020-08-09 00:00:00
2020-08-16 00:00:00
2020-08-23 00:00:00
2020-08-30 00:00:00
2020-09-06 00:00:00
2020-09-13 00:00:00
2020-09-20 00:00:00
2020-09-27 00:00:00
2020-10-04 00:00:00
2020-10-11 00:00:00
2020-10-18 00:00:00
2020-10-25 00:00:00
2020-11-01 00:00:00
2020-11-08 00:00:00
2020-11-15 00:00:00
2020-11-22 00:00:00
2020-11-29 00:00:00
2020-12-06 00:00:00
2020-12-13 00:00:00
2020-12-20 00:00:00
2020-12-27 00:00:00

In [31]:
price_top10_Market

           Date                                       top10_Market
0    2018-01-07  [BTC, XRP, ETH, BCH, ADA, XEM, LTC, TRX, XLM, ...
1    2018-01-14  [BTC, ETH, XRP, BCH, ADA, LTC, XEM, XLM, NEO, ...
2    2018-01-21  [BTC, ETH, XRP, BCH, ADA, LTC, XEM, NEO, EOS, ...
3    2018-01-28  [BTC, ETH, XRP, BCH, ADA, XLM, LTC, NEO, EOS, ...
4    2018-02-04  [BTC, ETH, XRP, BCH, ADA, LTC, NEO, XLM, EOS, ...
..          ...                                                ...
151  2020-11-29  [BTC, ETH, XRP, LINK, BCH, LTC, ADA, BNB, XLM,...
152  2020-12-06  [BTC, ETH, XRP, LTC, LINK, BCH, ADA, BNB, XLM,...
153  2020-12-13  [BTC, ETH, XRP, LTC, LINK, BCH, ADA, BNB, XLM,...
154  2020-12-20  [BTC, ETH, XRP, LTC, BCH, LINK, ADA, BNB, XLM,...
155  2020-12-27  [BTC, ETH, XRP, LTC, BCH, BNB, LINK, ADA, XLM,...

[156 rows x 2 columns]

In [32]:
data_copy_copy = data_copy.copy().reset_index().set_index(['date', 'ticker'])
top10_liquid = pd.DataFrame(columns = ['date', 'top10_Liquid'])

for date in CC100.index:
    date = str(date).split(' ')[0]
    CC_list = data_copy_copy.loc[date].sort_values('volume',ascending= False).iloc[:10].index
    Append = {'date': date, 'top10_Liquid' : CC_list.tolist()}
    top10_liquid = top10_liquid.append(Append, ignore_index=True)

In [33]:
top10_liquid

           date                                       top10_Liquid
0    2018-01-07  [BTC , ETH , XRP , TRX , QTUM , BCH , LTC , EO...
1    2018-01-14  [BTC , ETH , XRP , ETC , EOS , BCH , LTC , BTG...
2    2018-01-21  [BTC , ETH , EOS , XRP , QTUM , ADA , BCH , TR...
3    2018-01-28  [BTC , ETH , XRP , EOS , BCH , LTC , ETC , QTU...
4    2018-02-04  [BTC , ETH , XRP , LTC , SNT , ADA , BCH , EOS...
..          ...                                                ...
151  2020-11-29  [BTC , XRP , ETH , LTC , EOS , BCH , ADA , LIN...
152  2020-12-06  [BTC , ETH , XRP , LTC , EOS , BCH , LINK , XM...
153  2020-12-13  [BTC , ETH , XRP , LTC , BCH , EOS , LINK , XM...
154  2020-12-20  [BTC , ETH , XRP , LTC , BCH , EOS , XMR , LIN...
155  2020-12-27  [BTC , ETH , LTC , XRP , BCH , EOS , LINK , AD...

[156 rows x 2 columns]

In [73]:
top10CC = pd.concat([top10_liquid, price_top10_Market], axis=1)
top10CC = top10CC.drop('Date', axis = 1)
top10CC = top10CC.set_index('date')
top10CC

,top10_Liquid,top10_Market
date,,
2018-01-07,"[BTC , ETH , XRP , TRX , QTUM , BCH , LTC , EO...","[BTC, XRP, ETH, BCH, ADA, XEM, LTC, TRX, XLM, ..."
2018-01-14,"[BTC , ETH , XRP , ETC , EOS , BCH , LTC , BTG...","[BTC, ETH, XRP, BCH, ADA, LTC, XEM, XLM, NEO, ..."
2018-01-21,"[BTC , ETH , EOS , XRP , QTUM , ADA , BCH , TR...","[BTC, ETH, XRP, BCH, ADA, LTC, XEM, NEO, EOS, ..."
2018-01-28,"[BTC , ETH , XRP , EOS , BCH , LTC , ETC , QTU...","[BTC, ETH, XRP, BCH, ADA, XLM, LTC, NEO, EOS, ..."
2018-02-04,"[BTC , ETH , XRP , LTC , SNT , ADA , BCH , EOS...","[BTC, ETH, XRP, BCH, ADA, LTC, NEO, XLM, EOS, ..."
...,...,...
2020-11-29,"[BTC , XRP , ETH , LTC , EOS , BCH , ADA , LIN...","[BTC, ETH, XRP, LINK, BCH, LTC, ADA, BNB, XLM,..."
2020-12-06,"[BTC , ETH , XRP , LTC , EOS , BCH , LINK , XM...","[BTC, ETH, XRP, LTC, LINK, BCH, ADA, BNB, XLM,..."
2020-12-13,"[BTC , ETH , XRP , LTC , BCH , EOS , LINK , XM...","[BTC, ETH, XRP, LTC, LINK, BCH, ADA, BNB, XLM,..."
2020-12-20,"[BTC , ETH , XRP , LTC , BCH , EOS , XMR , LIN...","[BTC, ETH, XRP, LTC, BCH, LINK, ADA, BNB, XLM,..."
2020-12-27,"[BTC , ETH , LTC , XRP , BCH , EOS , LINK , AD...","[BTC, ETH, XRP, LTC, BCH, BNB, LINK, ADA, XLM,..."

In [74]:
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace('[','')
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace(']','')
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace(' \'','')
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace('\'','')

# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace('[','')
# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace(']','')
# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace(' \'','')
# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace('\'','')

# top10CC

In [75]:
top10CC.to_csv('top10CC.csv')