In [22]:
import pandas as pd
import numpy as np
from yahoo_fin.stock_info import get_data
import statsmodels.formula.api as smf
from pypfopt.efficient_frontier import EfficientFrontier
import datetime
import requests 
from bs4 import BeautifulSoup
from scrapy import Selector
import json
import time

In [23]:
START = TRAIN_START = datetime.datetime(2017,1,1)
TEST_START = datetime.datetime(2020,1,5)
END = datetime.datetime(2020,12,31)

In [24]:
CC100_Index = pd.read_csv("indexReturns-BITW100_temp.csv")
CC100_Index['date'] = pd.to_datetime(CC100_Index['date']).dt.tz_localize(None)
CC100_Index = CC100_Index.sort_values('date').set_index('date')
CC100_Index = CC100_Index.truncate(before = START,after = END)
# CC100_Index = CC100_Index.resample('W').last()[:-1]
CC100_Return = np.log(CC100_Index/ CC100_Index.shift(1)).fillna(axis = 0, method ='bfill').rename(columns = {"MarketIndex":"MarketReturn"})
CC100 = pd.concat([CC100_Index, CC100_Return],axis =1)

In [25]:
CC100

                     MarketIndex  MarketReturn
date
2017-01-01 00:00:00       964.00      0.032656
2017-01-02 00:00:00       996.00      0.032656
2017-01-03 00:00:00      1019.82      0.023634
2017-01-04 00:00:00      1047.76      0.027028
2017-01-05 00:00:00      1163.81      0.105045
...                          ...           ...
2020-12-26 21:00:00     24145.53      0.069255
2020-12-27 21:00:00     23984.01     -0.006712
2020-12-28 21:00:00     24895.42      0.037296
2020-12-29 21:00:00     24925.16      0.001194
2020-12-30 21:00:00     26338.46      0.055152

[1457 rows x 2 columns]

In [26]:
CC_string = "ADA,ADX,AE,ANT,ARDR,ARK,BAT,BCH,BCN,BNB,BNT,BTC,BTG,BTS,CVC,DASH,DCR,DGB,DGD,DNT,DOGE,EDG,EOS,ETC,ETH,FUN,GAS,GBYTE,GNO,HC,ICX,KIN,KMD,KNC,LINK,LRC,LSK,LTC,MAID,MCO,MIOTA,MLN,MONA,MTL,NANO,NEO,NXS,OMG,PIVX,PPT,QRL,QTUM,REP,RLC,SALT,SC,SNT,STEEM,STORJ,SYS,TRX,VERI,WAVES,WTC,XEM,XLM,XMR,XRP,XVG,ZEC,ZEN,ZRX"
CC_temp_list = CC_string.split(",")
CC_list = [i+'-USD' for i in CC_temp_list]

# Fetch and save data of all 72 CC from yahoo finance

In [27]:
# data_all = pd.DataFrame()
# for i in CC_list:
#     print(i)
#     data = get_data(i,start_date = START,end_date = END).resample('W').last()[:-1]
#     data_all = pd.concat([data_all,data])
# data_all.index.names = ['date']
# data_all.to_csv('CC_weekly_data.csv')

In [28]:
# data_all = pd.DataFrame()
# for i in CC_list:
#     print(i)
#     data = get_data(i,start_date = START,end_date = END)[:-1]
#     data_all = pd.concat([data_all,data])
# data_all.index.names = ['date']
# data_all.to_csv('CC_daily_data.csv')

# Read data of all 72 CC

In [29]:
data_copy = pd.read_csv('CC_daily_data.csv')
data_copy['ticker'] = data_copy['ticker'].str.replace('-USD',' ')
data_copy = data_copy.copy().reset_index().set_index(['ticker','date'])

In [30]:
data_copy

                   index      open      high       low     close  adjclose  \
ticker date
ADA    2017-09-30      0  0.021678  0.032226  0.017354  0.024969  0.024969
       2017-10-01      1  0.024607  0.030088  0.019969  0.025932  0.025932
       2017-10-02      2  0.025757  0.027425  0.020690  0.020816  0.020816
       2017-10-03      3  0.020864  0.022806  0.020864  0.021931  0.021931
       2017-10-04      4  0.021951  0.022154  0.020859  0.021489  0.021489
...                  ...       ...       ...       ...       ...       ...
ZRX    2020-12-26  97396  0.358214  0.366815  0.350426  0.354228  0.354228
       2020-12-27  97397  0.354252  0.424531  0.354252  0.373358  0.373358
       2020-12-28  97398  0.373753  0.394154  0.370035  0.376743  0.376743
       2020-12-29  97399  0.376773  0.383101  0.349014  0.365462  0.365462
       2020-12-30  97400  0.365471  0.369798  0.349509  0.359764  0.359764

                        volume
ticker date
ADA    2017-09-30   50068700.0
       2017-10-01   57641300.0
       2017-10-02   16997800.0
       2017-10-03    9000050.0
       2017-10-04    5562510.0
...                        ...
ZRX    2020-12-26   43885187.0
       2020-12-27  142214520.0
       2020-12-28   59466214.0
       2020-12-29   54115513.0
       2020-12-30   39904606.0

[97401 rows x 7 columns]

# Save top 10 liquid CC

In [31]:
data_copy_copy = data_copy.copy().reset_index().set_index(['date', 'ticker'])
top10_liquid = pd.DataFrame(columns = ['date', 'top10_Liquid'])

for date in CC100.index:
    date = str(date).split(' ')[0]
    if not (date in list(data_copy_copy.reset_index()['date'])):
        print(date)
        continue
    CC_list = data_copy_copy.loc[date].sort_values('volume',ascending= False).iloc[:10].index
    Append = {'date': date, 'top10_Liquid' : CC_list.tolist()}
    top10_liquid = top10_liquid.append(Append, ignore_index=True)

In [32]:
top10_liquid

            date                                       top10_Liquid
0     2017-01-01  [BTC , ETH , LTC , XMR , DASH , ETC , ZEC , MA...
1     2017-01-02  [BTC , LTC , ETH , XMR , DASH , ETC , XRP , MA...
2     2017-01-03  [BTC , ETH , XMR , LTC , ETC , DASH , ZEC , XR...
3     2017-01-04  [BTC , ETH , LTC , XMR , ETC , DASH , ZEC , XR...
4     2017-01-05  [BTC , ETH , LTC , XMR , ETC , XRP , ZEC , DAS...
...          ...                                                ...
1452  2020-12-26  [BTC , ETH , LTC , XRP , BCH , EOS , LINK , XM...
1453  2020-12-27  [BTC , ETH , LTC , XRP , BCH , EOS , LINK , AD...
1454  2020-12-28  [BTC , ETH , LTC , XRP , BCH , EOS , ADA , LIN...
1455  2020-12-29  [BTC , ETH , XRP , LTC , BCH , ADA , EOS , LIN...
1456  2020-12-30  [BTC , ETH , XRP , LTC , BCH , EOS , ADA , LIN...

[1457 rows x 2 columns]

# Save top 10 market cap CC

In [33]:
def top10_Market(date):
    date = date.replace('-', '')
    url = 'https://coinmarketcap.com/historical/' + date
    cmc = requests.get(url)
    soup = BeautifulSoup(cmc.content, 'html.parser')
    data = soup.find('script', id='__NEXT_DATA__',type='application/json')
    coin_data = json.loads(data.contents[0])
    listings = coin_data['props']['initialState']['cryptocurrency']['listingHistorical']['data']
    df = pd.DataFrame(listings)
    df = df[['symbol']]
    CC_string = "ADA,ADX,AE,ANT,ARDR,ARK,BAT,BCH,BCN,BNB,BNT,BTC,BTG,BTS,CVC,DASH,DCR,DGB,DGD,DNT,DOGE,EDG,EOS,ETC,ETH,FUN,GAS,GBYTE,GNO,HC,ICX,KIN,KMD,KNC,LINK,LRC,LSK,LTC,MAID,MCO,MIOTA,MLN,MONA,MTL,NANO,NEO,NXS,OMG,PIVX,PPT,QRL,QTUM,REP,RLC,SALT,SC,SNT,STEEM,STORJ,SYS,TRX,VERI,WAVES,WTC,XEM,XLM,XMR,XRP,XVG,ZEC,ZEN,ZRX"
    CC_temp_list = CC_string.split(",")
    df = df[df['symbol'].isin(CC_temp_list)] 
    return df['symbol']

In [34]:
price_top10_Market = pd.DataFrame(columns = ['Date', 'top10_Market'])

i = 1

for date in CC100.index:
    print(date)
    date = str(date).split(' ')[0]
#     print(top10_Market(date))
    CC_list_temp = top10_Market(date).iloc[:10]
    Append = {'Date': date, 'top10_Market' : CC_list_temp.tolist()}
    price_top10_Market = price_top10_Market.append(Append, ignore_index=True)

    i = i+1
    if i == 5:
        i = 0
        time.sleep(120)

2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00
2017-01-06 00:00:00
2017-01-07 00:00:00
2017-01-08 00:00:00
2017-01-09 00:00:00
2017-01-10 00:00:00
2017-01-11 00:00:00
2017-01-12 00:00:00
2017-01-13 00:00:00
2017-01-14 00:00:00
2017-01-15 00:00:00
2017-01-16 00:00:00
2017-01-17 00:00:00
2017-01-18 00:00:00
2017-01-19 00:00:00
2017-01-20 00:00:00
2017-01-21 00:00:00
2017-01-22 00:00:00
2017-01-23 00:00:00
2017-01-24 00:00:00
2017-01-25 00:00:00
2017-01-26 00:00:00
2017-01-27 00:00:00
2017-01-28 00:00:00
2017-01-29 00:00:00
2017-01-30 00:00:00
2017-01-31 00:00:00
2017-02-01 00:00:00
2017-02-02 00:00:00
2017-02-03 00:00:00
2017-02-04 00:00:00
2017-02-05 00:00:00
2017-02-06 00:00:00
2017-02-07 00:00:00
2017-02-08 00:00:00
2017-02-09 00:00:00
2017-02-10 00:00:00
2017-02-11 00:00:00
2017-02-12 00:00:00
2017-02-13 00:00:00
2017-02-14 00:00:00
2017-02-15 00:00:00
2017-02-16 00:00:00
2017-02-17 00:00:00
2017-02-18 00:00:00
2017-02-19 00:00:00
2017-02-20 00:00:00
2017-02-21 00:00:00
2017-02-22 00:00:00
2017-02-23 00:00:00
2017-02-24 00:00:00
2017-02-25 00:00:00
2017-02-26 00:00:00
2017-02-27 00:00:00
2017-02-28 00:00:00
2017-03-01 00:00:00
2017-03-02 00:00:00
2017-03-03 00:00:00
2017-03-04 00:00:00
2017-03-05 00:00:00
2017-03-06 00:00:00
2017-03-07 00:00:00
2017-03-08 00:00:00
2017-03-09 00:00:00
2017-03-10 00:00:00
2017-03-11 00:00:00
2017-03-12 00:00:00
2017-03-13 00:00:00
2017-03-14 00:00:00
2017-03-15 00:00:00
2017-03-16 00:00:00
2017-03-17 00:00:00
2017-03-18 00:00:00
2017-03-19 00:00:00
2017-03-20 00:00:00
2017-03-21 00:00:00
2017-03-22 00:00:00
2017-03-23 00:00:00
2017-03-24 00:00:00
2017-03-25 00:00:00
2017-03-26 00:00:00
2017-03-27 00:00:00
2017-03-28 00:00:00
2017-03-29 00:00:00
2017-03-30 00:00:00
2017-03-31 00:00:00
2017-04-01 00:00:00
2017-04-02 00:00:00
2017-04-03 00:00:00
2017-04-04 00:00:00
2017-04-05 00:00:00
2017-04-06 00:00:00
2017-04-07 00:00:00
2017-04-08 00:00:00
2017-04-09 00:00:00
2017-04-10 00:00:00
2017-04-11 00:00:00
2017-04-12 00:00:00
2017-04-13 00:00:00
2017-04-14 00:00:00
2017-04-15 00:00:00
2017-04-16 00:00:00
2017-04-17 00:00:00
2017-04-18 00:00:00
2017-04-19 00:00:00
2017-04-20 00:00:00
2017-04-21 00:00:00
2017-04-22 00:00:00
2017-04-23 00:00:00
2017-04-24 00:00:00
2017-04-25 00:00:00
2017-04-26 00:00:00
2017-04-27 00:00:00
2017-04-28 00:00:00
2017-04-29 00:00:00
2017-04-30 00:00:00
2017-05-01 00:00:00
2017-05-02 00:00:00
2017-05-03 00:00:00
2017-05-04 00:00:00
2017-05-05 00:00:00
2017-05-06 00:00:00
2017-05-07 00:00:00
2017-05-08 00:00:00
2017-05-09 00:00:00
2017-05-10 00:00:00
2017-05-11 00:00:00
2017-05-12 00:00:00
2017-05-13 00:00:00
2017-05-14 00:00:00
2017-05-15 00:00:00
2017-05-16 00:00:00
2017-05-17 00:00:00
2017-05-18 00:00:00
2017-05-19 00:00:00
2017-05-20 00:00:00
2017-05-21 00:00:00
2017-05-22 00:00:00
2017-05-23 00:00:00
2017-05-24 00:00:00
2017-05-25 00:00:00
2017-05-26 00:00:00
2017-05-27 00:00:00
2017-05-28 00:00:00
2017-05-29 00:00:00
2017-05-30 00:00:00
2017-05-31 00:00:00
2017-06-01 00:00:00
2017-06-02 00:00:00
2017-06-03 00:00:00
2017-06-04 00:00:00
2017-06-05 00:00:00
2017-06-06 00:00:00
2017-06-07 00:00:00
2017-06-08 00:00:00
2017-06-09 00:00:00
2017-06-10 00:00:00
2017-06-11 00:00:00
2017-06-12 00:00:00
2017-06-13 00:00:00
2017-06-14 00:00:00
2017-06-15 00:00:00
2017-06-16 00:00:00
2017-06-17 00:00:00
2017-06-18 00:00:00
2017-06-19 00:00:00
2017-06-20 00:00:00
2017-06-21 00:00:00
2017-06-22 00:00:00
2017-06-23 00:00:00
2017-06-24 00:00:00
2017-06-25 00:00:00
2017-06-26 00:00:00
2017-06-27 00:00:00
2017-06-28 00:00:00
2017-06-29 00:00:00
2017-06-30 00:00:00
2017-07-01 00:00:00
2017-07-02 00:00:00
2017-07-03 00:00:00
2017-07-04 00:00:00
2017-07-05 00:00:00
2017-07-06 00:00:00
2017-07-07 00:00:00
2017-07-08 00:00:00
2017-07-09 00:00:00
2017-07-10 00:00:00
2017-07-11 00:00:00
2017-07-12 00:00:00
2017-07-13 00:00:00
2017-07-14 00:00:00
2017-07-15 00:00:00
2017-07-16 00:00:00
2017-07-17 00:00:00
2017-07-18 00:00:00
2017-07-19 00:00:00
2017-07-20 00:00:00
2017-07-21 00:00:00
2017-07-22 00:00:00
2017-07-23 00:00:00
2017-07-24 00:00:00
2017-07-25 00:00:00
2017-07-26 00:00:00
2017-07-27 00:00:00
2017-07-28 00:00:00
2017-07-29 00:00:00
2017-07-30 00:00:00
2017-07-31 00:00:00
2017-08-01 00:00:00
2017-08-02 00:00:00
2017-08-03 00:00:00
2017-08-04 00:00:00
2017-08-05 00:00:00
2017-08-06 00:00:00
2017-08-07 00:00:00
2017-08-08 00:00:00
2017-08-09 00:00:00
2017-08-10 00:00:00
2017-08-11 00:00:00
2017-08-12 00:00:00
2017-08-13 00:00:00
2017-08-14 00:00:00
2017-08-15 00:00:00
2017-08-16 00:00:00
2017-08-17 00:00:00
2017-08-18 00:00:00
2017-08-19 00:00:00
2017-08-20 00:00:00
2017-08-21 00:00:00
2017-08-22 00:00:00
2017-08-23 00:00:00
2017-08-24 00:00:00
2017-08-25 00:00:00
2017-08-26 00:00:00
2017-08-27 00:00:00
2017-08-28 00:00:00
2017-08-29 00:00:00
2017-08-30 00:00:00
2017-08-31 00:00:00
2017-09-01 00:00:00
2017-09-02 00:00:00
2017-09-03 00:00:00
2017-09-04 00:00:00
2017-09-05 00:00:00
2017-09-06 00:00:00
2017-09-07 00:00:00
2017-09-08 00:00:00
2017-09-09 00:00:00
2017-09-10 00:00:00
2017-09-11 00:00:00
2017-09-12 00:00:00
2017-09-13 00:00:00
2017-09-14 00:00:00
2017-09-15 00:00:00
2017-09-16 00:00:00
2017-09-17 00:00:00
2017-09-18 00:00:00
2017-09-19 00:00:00
2017-09-20 00:00:00
2017-09-21 00:00:00
2017-09-22 00:00:00
2017-09-23 00:00:00
2017-09-24 00:00:00
2017-09-25 00:00:00
2017-09-26 00:00:00
2017-09-27 00:00:00
2017-09-28 00:00:00
2017-09-29 00:00:00
2017-09-30 00:00:00
2017-10-01 00:00:00
2017-10-02 00:00:00
2017-10-03 00:00:00
2017-10-04 00:00:00
2017-10-05 00:00:00
2017-10-06 00:00:00
2017-10-07 00:00:00
2017-10-08 00:00:00
2017-10-09 00:00:00
2017-10-10 00:00:00
2017-10-11 00:00:00
2017-10-12 00:00:00
2017-10-13 00:00:00
2017-10-14 00:00:00
2017-10-15 00:00:00
2017-10-16 00:00:00
2017-10-17 00:00:00
2017-10-18 00:00:00
2017-10-19 00:00:00
2017-10-20 00:00:00
2017-10-21 00:00:00
2017-10-22 00:00:00
2017-10-23 00:00:00
2017-10-24 00:00:00
2017-10-25 00:00:00
2017-10-26 00:00:00
2017-10-27 00:00:00
2017-10-28 00:00:00
2017-10-30 00:00:00
2017-10-31 00:00:00
2017-11-01 00:00:00
2017-11-02 00:00:00
2017-11-03 00:00:00
2017-11-04 00:00:00
2017-11-05 00:00:00
2017-11-06 00:00:00
2017-11-07 00:00:00
2017-11-08 00:00:00
2017-11-09 00:00:00
2017-11-10 00:00:00
2017-11-11 00:00:00
2017-11-12 00:00:00
2017-11-13 00:00:00
2017-11-14 00:00:00
2017-11-15 00:00:00
2017-11-16 00:00:00
2017-11-17 00:00:00
2017-11-18 00:00:00
2017-11-19 00:00:00
2017-11-20 00:00:00
2017-11-21 00:00:00
2017-11-22 00:00:00
2017-11-23 00:00:00
2017-11-24 00:00:00
2017-11-25 00:00:00
2017-11-26 00:00:00
2017-11-27 00:00:00

KeyError: "None of [Index(['symbol'], dtype='object')] are in the [columns]"

In [35]:
price_top10_Market

           Date                                       top10_Market
0    2017-01-01  [BTC, ETH, XRP, LTC, XMR, ETC, DASH, REP, MAID...
1    2017-01-02  [BTC, ETH, XRP, LTC, XMR, ETC, DASH, REP, MAID...
2    2017-01-03  [BTC, ETH, XRP, LTC, XMR, ETC, DASH, REP, MAID...
3    2017-01-04  [BTC, ETH, XMR, XRP, LTC, ETC, DASH, REP, MAID...
4    2017-01-05  [BTC, ETH, XRP, XMR, LTC, ETC, DASH, REP, MAID...
..          ...                                                ...
324  2017-11-22  [BTC, ETH, BCH, XRP, DASH, LTC, XMR, MIOTA, NE...
325  2017-11-23  [BTC, ETH, BCH, XRP, DASH, LTC, XMR, NEO, MIOT...
326  2017-11-24  [BTC, ETH, BCH, XRP, DASH, LTC, XMR, NEO, MIOT...
327  2017-11-25  [BTC, ETH, BCH, XRP, BTG, DASH, LTC, XMR, NEO,...
328  2017-11-26  [BTC, ETH, BCH, XRP, BTG, DASH, LTC, XMR, NEO,...

[329 rows x 2 columns]

In [36]:
top10CC = pd.concat([top10_liquid, price_top10_Market], axis=1)
top10CC = top10CC.drop('Date', axis = 1)
top10CC = top10CC.set_index('date')
top10CC

,top10_Liquid,top10_Market
date,,
2017-01-01,"[BTC , ETH , LTC , XMR , DASH , ETC , ZEC , MA...","[BTC, ETH, XRP, LTC, XMR, ETC, DASH, REP, MAID..."
2017-01-02,"[BTC , LTC , ETH , XMR , DASH , ETC , XRP , MA...","[BTC, ETH, XRP, LTC, XMR, ETC, DASH, REP, MAID..."
2017-01-03,"[BTC , ETH , XMR , LTC , ETC , DASH , ZEC , XR...","[BTC, ETH, XRP, LTC, XMR, ETC, DASH, REP, MAID..."
2017-01-04,"[BTC , ETH , LTC , XMR , ETC , DASH , ZEC , XR...","[BTC, ETH, XMR, XRP, LTC, ETC, DASH, REP, MAID..."
2017-01-05,"[BTC , ETH , LTC , XMR , ETC , XRP , ZEC , DAS...","[BTC, ETH, XRP, XMR, LTC, ETC, DASH, REP, MAID..."
...,...,...
2020-12-26,"[BTC , ETH , LTC , XRP , BCH , EOS , LINK , XM...",NaN
2020-12-27,"[BTC , ETH , LTC , XRP , BCH , EOS , LINK , AD...",NaN
2020-12-28,"[BTC , ETH , LTC , XRP , BCH , EOS , ADA , LIN...",NaN
2020-12-29,"[BTC , ETH , XRP , LTC , BCH , ADA , EOS , LIN...",NaN
2020-12-30,"[BTC , ETH , XRP , LTC , BCH , EOS , ADA , LIN...",NaN

In [ ]:
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace('[','')
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace(']','')
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace(' \'','')
# top10CC['top10_Liquid'] = top10CC['top10_Liquid'].str.replace('\'','')

# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace('[','')
# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace(']','')
# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace(' \'','')
# top10CC['top10_Market'] = str(top10CC['top10_Market']).replace('\'','')

# top10CC

In [37]:
top10CC.to_csv('top10CC_daily.csv')